
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #FFFFFF;
  color: black;
  margin-bottom: 60px;
  font-size: 16px;
}

a,
a:focus,
a:hover {
  color: #DD4814;
}

.inner {
  padding: 30px;
}

.container-center {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.container-center.responsive {
  width: 80%;
  height: 50%;
  min-width: 400px;
  max-width: 600px;
  padding: 40px;
}

.social {
  margin: 6px;
}

.social i {
  transition: all .2s ease-in-out;
}

.social i:hover {
  transform: scale(1.1);
}

.social i:before {
  font-size: 50px;
}

.social.google-plus {
  color:  #dc4e41;
}

.social.github {
  color:  #4183c4;
}

.social.twitter {
  color:  #55acee;
}

.social.mail {
  color: gray;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.project-image {
  display: block;
  max-height: 200px;
  max-width: 90%;
  line-height: 200px;
  overflow: hidden;
  margin: 16px;
}

.cursor {
  animation: blink 1s infinite;
}

/* Navbar */
.navbar-brand.desktop { display: none; }

@media (min-width: 768px) {
  .navbar {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar-default .navbar-nav > li > a {
    height: 45px;
    margin-right: 12px;
    margin-left: 12px;
    border-bottom: 3px solid transparent;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
     background: transparent;
     border-color:  #DD4814;
  }
  .navbar-default .navbar-nav > .active > a:focus {
     background: transparent;
     border-color:  #DD4814;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    border-color: #B6B6B6;
  }
  .navbar-brand.mobile { display: none; }
  .navbar-brand.desktop {
    display: inline-block;
    margin-right: 100px;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

/* Responsiveness */
@media (max-width: 480px), (max-height: 600px) {
  .container-center.responsive {
    min-width: 200px;
    width: 100%;
    height: 70%;
    padding: 16px;
  }
  .social {
    margin: 4px;
  }
  .social i:before {
    font-size: 45px;
  }
}

@keyframes blink{
  to{opacity: .0;}
}
